!!!
#html
  #head
  #body
    %form{ :action => "/multiply", :method => "post"}
      %fieldset
        %ul
          %li
            %label{:for => "num_probs"} Number of Problems:
            %input{:type => "text", :name => "num_probs", :class => "text"}
          %li
            %label{:for => "nums"} Numbers to include in the worksheet:
            - (1..12).each do |i|
              %input{:name=>'nums[]',:type=>'checkbox',:value=>i} 
                = i
          %li
            %input{:type => :submit, :value => "Make a new worksheet"}
          
